In [1]:
# Learning Numpy and Pandas
# From: https://realpython.com/python-data-cleaning-numpy-pandas/

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('Datasets/cybersecurity_cases_india_combined.csv')
df.head() # shows first 5 entries

   Year  Day  Amount_Lost_INR Incident_Type       City     Category
0  2022   22            86530   Data Breach  Bangalore    Corporate
1  2023   21           231983      Phishing    Kolkata  Educational
2  2021    6           284707   Data Breach  Bangalore   E-commerce
3  2023    6           433557      Phishing  Ahmedabad       Health
4  2023   23           378816      Phishing     Jaipur   Government

In [3]:
to_drop = ['Day','Amount_Lost_INR','City'] # drop irrelevant headers
# df.drop(to_drop, inplace=True, axis=1)
df.drop(columns=to_drop, inplace=True) # both do the same
df.head()

   Year Incident_Type     Category
0  2022   Data Breach    Corporate
1  2023      Phishing  Educational
2  2021   Data Breach   E-commerce
3  2023      Phishing       Health
4  2023      Phishing   Government

In [4]:
df['Incident_Type'].is_unique # accessing a single line based off index
df.loc[0]

Year                    2022
Incident_Type    Data Breach
Category           Corporate
Name: 0, dtype: object

In [5]:
# df.get_dtype_counts()
df.loc[10:, 'Incident_Type'].head(10) # get specific head data and how much

10          Phishing
11      Online Fraud
12      Online Fraud
13      Online Fraud
14       Data Breach
15        Ransomware
16       Data Breach
17    Identity Theft
18        Ransomware
19           Malware
Name: Incident_Type, dtype: object

In [6]:
extr = df['Incident_Type'].str.extract(r'^(\d{4})', expand=False)
extr.head()
df['Incident_Type'] = pd.to_numeric(extr) # we can easily get its numerical version with pd.to_numeric:
df['Incident_Type'].dtype
df['Incident_Type'].isnull().sum() / len(df) # 1.0, no missing data!

np.float64(1.0)

In [7]:
df = pd.read_csv(
    "Datasets/cybersecurity_cases_india_combined.csv",
    on_bad_lines="skip"  # skips rows with wrong number of columns/missing data
)

print("Columns:", df.columns.tolist())
print("\nFirst 5 rows:")
print(df.head())

Columns: ['Year', 'Day', 'Amount_Lost_INR', 'Incident_Type', 'City', 'Category']

First 5 rows:
   Year  Day  Amount_Lost_INR Incident_Type       City     Category
0  2022   22            86530   Data Breach  Bangalore    Corporate
1  2023   21           231983      Phishing    Kolkata  Educational
2  2021    6           284707   Data Breach  Bangalore   E-commerce
3  2023    6           433557      Phishing  Ahmedabad       Health
4  2023   23           378816      Phishing     Jaipur   Government